:root {
    /* Color inspiration
            https://www.color-hex.com/color-palette/1044258
     */

    /* color palette */
    --mainBackground: white;
    --mainDark: #478a65;
    --mainBright: #b6d7a8;
    --mainAccent: #073763;
    --contrastAccent: #bf9000;
}